/* Estilos para escritorio */
.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bold;
}

.task-card {
  background-color: #f4f4fa;
  width: 23%;
  margin: 5% auto;
  padding: 20px;
  position: relative;
}

.task-card-title-container {
  position: absolute;
  top: 0;
  left: 50%; /* Cambiado el left a 50% para centrar el contenedor del título */
  transform: translateX(-50%); /* Añadido para centrar correctamente el contenedor del título */
  width: 100%;
  background-color: #00d2c4;
  padding: 10px;
  text-align: center;
  color: white;
  box-sizing: border-box;
}

.task-card-content {
  margin-top: 20px;
}

.transparent-table {
  background: transparent;
  border: none;
  border-collapse: collapse;
  width: 100%;
}

.mat-cell {
  border: none;
}

.mat-row {
  border-bottom: none;
}

.example-form-field {
  width: 100%;
  height: auto;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  width: 100%;
  background-color: white;
  border-radius: 8px;
}

/* Estilos para celular */
@media (max-width: 768px) {
  .task-card {
    width: 90%; /* Reduzco el ancho para dispositivos más pequeños */
  }.task-card-title-container {
    width: 100%;
  }
}
