<div class="login-container">
    <mat-card class="login-card">
      <mat-card-title class="login-title">Login</mat-card-title>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Correo</mat-label>
          <input matInput formControlName="correo" type="email" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="contraseña" type="password" required>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
      </form>
    </mat-card>
  </div> 